#emojis-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.emojis {
    display: flex;
    justify-content: center;
    border: 0.1rem solid gainsboro;
    margin: 1rem;
    border-radius: 0.25rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

}

.emojis > img {
    max-height: 5rem;
    max-width: 5rem;
}

.color, p {
    text-align: center;
    margin: 0;
}

.black {
    color: white;
}